process {
  memory = '16GB'
  time = '8h'
}

profiles {
  local {
    process.cpus = 8
    process.executor = 'local'
  }

  slurm {
    // many tasks process single or small groups of chromosomes e.g. resulting in 16 chunks for GRCh38
    // optimize the number of cpus so that all chunks can be processed in parallel
    process.cpus = 12
    process.executor = 'slurm'
    process.errorStrategy = { task.exitStatus in [9, 143, 137, 104, 134, 139, 247] ? 'retry' : 'finish' }
    process.maxErrors = '-1'
    process.maxRetries = 3
  }
}
